/* CSS RESET */

*, *::after, *::before{
	box-sizing: border-box;
}

:root{
	--font-sans:Helvetica, Arial, sans-serif;
	--font-serif:Cambria, Georgia, serif;

	--color-neutral-light:#e3f5f8;
	--color-neutral-medium:#bee2e7;
	--color-neutral-dark:#3d8c97;
	--color-white:#fff;
	--color-black:#111;

	--header-height:3rem;
}

body{
	margin:0;
	font-size: 100%;
	font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: var(--font-sans);
}


a{
	color:inherit;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
}

p{
	font-weight: normal;
}



/* Layout Classes */
.container{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

}

.hidden{display: none;}

.display-flex{display: flex}
.display-block{display: block;}
.display-inline-flex{display: inline-flex;}
.display-inline-block{display: inline-block;}


.flex-stretch{flex: 1 1 auto;}
.flex-none{flex:none;}

.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}
.flex-vertical { flex-direction:column; }






/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
}
[data-role="main"] {
   flex: 1 1 100%;
}
[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}



/* FORM ELEMENTS */
.form-control{
	margin: 1em 0;
}
.form-lable{
	margin: 1em 0;
	font-size: 0.7em;
	color: var(--color-neutral-medium);
}
.form-input{
	width: 100%;
	display: inline-block;
	border: 1px solid var(--color-neutral-dark);
	outline: 0;
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	outline: 0;
}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:var(--color-neutral-light);
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
}
.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}